<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'WAAD.POC.ProductCatalog.UWP' in resource group 'LabAppInsights' -->
  <!-- This key is for Application Insights resource 'ContosoProduct' in resource group 'ContosoProducts' -->
  <InstrumentationKey>6762228a-c68e-4f0e-a2ef-3f0dfc99ffcf</InstrumentationKey>
</ApplicationInsights>